
<div>
  <body style="background: rgb(255, 255, 255);"></body>
      <a class="active" href="/">Home</a> 
      <a href="/get_data">Students</a>
    </div>
    
    <div style="padding: 10px;">
      <h1 style="background: rgb(136, 79, 205); font-weight: bolder; text-align: center;">Student Form</h1>
    </br>
   </div>

   <form method="POST" style="text-align: center; border:rgb(0, 0, 0); border-width:5px; border-style:solid;margin-left: 35%;margin-right: 35%; margin-bottom: 5%;">
    <div id="container" >
      <h2 style="font-weight: bold;">Please fill for new registration</h2>
    </br></br>
   
     <span style="padding-right: 60;"><label for="std_name"><b>Name</b></label></span>
      <input class="input_box" id="std_name" type="text" placeholder="Please enter Student Name" name="std_name">
    
   
    </br></br>
    <span style="padding-right: 70;"> <label for="std_age "><b>Age</b></label></span>
      <input class="input_box" id="std_age" type="number" placeholder="Please enter Age" name="std_age">
    </br></br>
    <label for="std_email"><b>Email address</b></label>
      <input class="input_box" id="std_email" type="email" placeholder="Please enter email address" name="std_email">
    </br></br></br>
      <button type="submit" class="btn"><b>Submit</b></button>
    </div>
  </form>
  </body>